
.correction,.reponses,.reset {
    border:none;
    border-radius: 5px;
    height: 40px;
    color:aliceblue;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
}
.correction{
        background-color: rgb(215, 63, 36);
}
.reponses{
    background-color: rgb(26, 222, 36);
}
.reset{
    background-color: rgb(33, 150, 243);
}
p{
    font-size: 18px;
    font-weight: bold;
    color: rgb(29, 22, 24);
    font-family: Arial, Helvetica, sans-serif;
}
label{
    font-size: 16px;
    font-weight: bold;
    color: rgb(29, 22, 24);
    font-family:'Courier New', Courier, monospace;
    margin-left: 15px;
    }